{{> header}}

<div class="container" class="mt-4" style="width: 70%; padding-top : 10.5rem">
    <h3>Create BBook</h3>
    <form method="POST" action="/courses/store" >
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name = "name" > 
        </div>
        <div class="form-group">
            <label for="decription">Description</label>
            <textarea class="form-control" id="description" name = "description" > </textarea>
        </div>
        <div class="form-group">
            <label for="image">Link Image</label>
            <input type="text" class="form-control" id="image" name = "image" > 
        </div>
        <div class="form-group">
            <label for="level">Author</label>
            <input type="text" class="form-control" id="level" name ="level" > 
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

