
<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About Project</h6>
            <p class="text-justify">Languages and libraries used for this project: NODE JS, Express, HTML, CSS, SCSS, Handlebars, JavaScript, Reat JS. </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="https://nodejs.org/en/">NODE JS</a></li>
              <li><a href="https://expressjs.com/">Express</a></li>
              <li><a href="https://www.javascript.com/">JavaScript</a></li>
              <li><a href="https://sass-lang.com/">SCSS</a></li>
              <li><a href="https://handlebarsjs.com/">Handlebars</a></li>
              <li><a href="https://reactjs.org/">Reat JS</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">Contact Us with : dinhhuuphat4@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
         <a href="/home">LIBRARY</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/Hoonvn"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a class="intagram" href="https://www.instagram.com/h2p.vn/"><i class="fa-brands fa-instagram"></i></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>