<div class="header-wapper">
  <div class="header-item">
    <a href="/" class="logo">BLIRARY-V1</a>
    <form action="" id ="formSearch">
      <input name= "input" type="text" placeholder="Search . . .">
      <button type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button> 
    </form>
    <div class="header-link-item">
      
        <div class="header-link">
          <a href="/home?page">HOME</a>
        </div>
        {{#if user}}
        <div class="header-link">
          <a href="/courses/create">CREATE BOOK</a>
        </div>
        {{else}}
        <div class="header-link">
          <a href="/register/login">LOGIN</a>
        </div>
        <div class="header-link">
          <a href="/register/signup">SIGN UP</a>
        </div>
        {{/if}}
          {{#if user}}
        
          <div class="btn-group dropleft">
            <button type="button" class="btn btn-secondary " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-bars"></i>
            </button>
          <div class="dropdown-menu">
            <div class="drop-item-mobile">
              <a class="dropdown-item-list" href="/home?page">HOME</a>
              <a class="dropdown-item-list" href="/courses/create">CREATE BOOK</a>
            </div>
            <a class="dropdown-item" href="#">PROFILE ({{user}})</a>
          
            
            {{#if admin}}
            <a class="dropdown-item" href="/me/stored/courses">BOOKSTORE</a>
            {{/if}}
            <a class="dropdown-item" href="/register/logout">LOG OUT</a>
        </div>
          {{else}}
        <div class="btn-mobile">
            <div class="btn-group dropleft">
            <button type="button" class="button-moble" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-bars"></i></button>
              <div class="dropdown-menu">
            <div class="drop-item-mobile">
              <a class="dropdown-item-list" href="/home?page">HOME</a>

              <a class="dropdown-item-list" href="/register/login">LOGIN</a>
              <a class="dropdown-item-list" href="/register/signup">SIGN UP</a>
            </div>

        </div>


            
            
                

          {{/if}}
        </div>

          
        </div>
    </div>
  </div>
</div>


<script>

  const formSearch = document.getElementById("formSearch")
  console.log(formSearch)
  formSearch.addEventListener('submit', (e)=>{
    e.preventDefault();
    const value = formSearch.input.value
    
    console.log(value);

    try{
        fetch(`/courses/v1/search?q=${value}`,{
        method: 'GET',
        })
      location.assign(`/courses/v1/search?q=${value}`)
    }
    catch{
      location.assign(`/home?page`)

    }
        
        
      
      
  
  })
  

</script>