<div class="jumbotron">
  <h1 class="display-4">Please login !!!</h1>
  <hr class="my-4">
  <p>If you don't have an account yet, <a href="/register/signup" >sign up</a> here</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/register/login" role="button">Login now</a> 
    <div>
     <a href="/" style="color: #212529"><i class="fa-solid fa-arrow-left" style="padding-right: 5px;font-size:12px"></i>Back to home page</a>
    </div>
  </p>
</div>