
<body>
    <div class="container" style="width: 70%">
      <br />
      <br />
      <br />
      <h3>LOGIN</h3>
      <br />

      

        <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form method="post" action=>
                <div class="form-group">
                    <label for="">User Name: </label>
                    <input type="text" required="true" class="form-control" id="UserName_Login_id" value="" required placeholder="Enter User Name" />
                </div>
                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input type="Password" required="true" class="form-control" id="Password_Login_id" value="" required placeholder="Enter Password" />
                </div>
                <button type="submit" class="btn btn-info" onclick="loginSuccess()">Login</button>
                

            </form>
        </div>
      </div>
    </div>
    <script src="Login.js"></script>
</body>
