
{{> header}}
<div class="container " class = "container-1" style="width: 70%; padding-top : 6rem" >
    <h3>Register System</h3>
    <form action="/register/signup" method="POST" class="form" >
        <div class="form-group">
            <label for="username">User Name: </label>
            <input type="text"  name="username" class="form-control" id="username_id" value="" placeholder="Enter UserName" />
            <span class="username_err" style="color: red;"></span>
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input name= "email"class="form-control"  id="email_id" value="" placeholder="Enter email" />
            <span class="email_err" style="color: red"></span>
        </div>

        <div class="form-group">
            <label for="password">Password: </label>
            <input required = "true" type="password" name="password" class="form-control" id="password_id" placeholder="Enter Password" minlength="8"  />
            <span class="password_err" style="color: red" ></span>
        </div>

       <button class="btn btn-primary" value="submit">Sign up</button>
       <a href="/register/login" class="btn btn-primary" >Login</a>
    </form>
</div>





<script>

    

   
  
    const form1 = document.querySelector('.container_main .container form')
    console.log(form1)

    const email_err = document.querySelector('.email_err')
    const username_err = document.querySelector('.username_err')
    const password_err = document.querySelector('.password_err')
    


   
    if(form1){
        
        form1.addEventListener('submit', async (e)=>{
            e.preventDefault();

            {{!-- reset err --}}
            email_err.textContent = ""
            username_err.textContent = ""
            password_err.textContent = ""

            {{!-- get value form --}}
            const username = document.getElementById('username_id').value
            const password = document.getElementById('password_id').value
            const email = document.getElementById('email_id').value


            try{
                const res = await fetch('/register/signup',{
                method: 'POST',
                body: JSON.stringify ({username, password, email}),
                headers : {'Content-Type': 'application/json'}
                });
                const data = await res.json();
                {{!-- console.log(data) --}}
                if(data.errors){
                    email_err.textContent = data.errors.email
                    username_err.textContent = data.errors.username
                    password_err.textContent = data.errors.password

                }
                if(data.newUser){
                    location.assign('/')
                }

                    
            }
            catch(err){
                next()
            }

        })
              
    }
     
  

</script>